.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
}
.header {
}

.nav {
}

.nav__logo {
}

.nav__links {
}

.recipes {
}

.reservation {
}

.menu {
}

.about {
}
